.ErrorMessage {
  text-align: center;
  background-color: #ff3860;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  margin: 20px auto;
  color: #fff;
  line-height: 1.6;
  border: 1px solid rgb(230, 59, 94);
  font-weight: 500;
}
