{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype",
    "mocha",
    "simple-import-sort"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "mocha/no-exclusive-tests": "error",
    "sort-imports": "off",
    "import/order": "off",
    "class-methods-use-this": "off",
    "simple-import-sort/sort": "error",
    "max-len": "off"
  }
}